langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
yfinance
pandas
lxml
html5lib
flask
gunicorn